<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostName" value="linux09"/>
    <add key="hostPort" value="2089"/>

    <add key="userLogin" value="tester"/>
    <add key="userPassword" value="tester"/>

    <add key="entityName" value="y4f0"/>
    <add key="testKeyFileName" value="K:\y4f0.key"/>
    <add key="acsCertificateFileName" value="K:\AccessControlService.crt"/>
  </appSettings>
</configuration>
