<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tecgraf.openbus.interop.sharedauth.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Client.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <tecgraf.openbus.interop.sharedauth.Properties.DemoConfig>
            <setting name="busHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="busHostPort" serializeAs="String">
                <value>2089</value>
            </setting>
            <setting name="loginFile" serializeAs="String">
                <value>D:\tecgraf\temp\login.bin</value>
            </setting>
        </tecgraf.openbus.interop.sharedauth.Properties.DemoConfig>
        <Client.Properties.DemoConfig>
            <setting name="userLogin" serializeAs="String">
                <value>tester</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>tester</value>
            </setting>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="secretFile" serializeAs="String">
                <value>../../../secret.bin</value>
            </setting>
            <setting name="loginFile" serializeAs="String">
                <value>../../../login.bin</value>
            </setting>
        </Client.Properties.DemoConfig>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
