<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="tecgraf.openbus.interop.multiplexing.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="MultiplexingServer.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <tecgraf.openbus.interop.multiplexing.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="hostPort2" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="entity" serializeAs="String">
                <value>interop_multiplexing_csharp</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>InteropMultiplexing.key</value>
            </setting>
        </tecgraf.openbus.interop.multiplexing.Properties.DemoConfig>
        <MultiplexingServer.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="hostPort2" serializeAs="String">
                <value>11000</value>
            </setting>
        </MultiplexingServer.Properties.DemoConfig>
    </userSettings>
</configuration>
