<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tecgraf.openbus.interop.simple.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="tecgraf.openbus.interop.hello.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Server.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <tecgraf.openbus.interop.simple.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="entityName" serializeAs="String">
                <value>interop_hello_csharp</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="xmlPrivateKey" serializeAs="String">
                <value>InteropHello.key</value>
            </setting>
        </tecgraf.openbus.interop.simple.Properties.DemoConfig>
        <tecgraf.openbus.interop.hello.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="entityName" serializeAs="String">
                <value>TestEntity</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="xmlPrivateKey" serializeAs="String">
                <value>TestEntity.key</value>
            </setting>
        </tecgraf.openbus.interop.hello.Properties.DemoConfig>
        <Server.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="entityName" serializeAs="String">
                <value>TestEntity</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="xmlPrivateKey" serializeAs="String">
                <value>TestEntity.key</value>
            </setting>
        </Server.Properties.DemoConfig>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
