<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Forwarder.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Forwarder.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="entityName" serializeAs="String">
                <value>TestEntity</value>
            </setting>
            <setting name="xmlPrivateKey" serializeAs="String">
                <value>TestEntity.key</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>Forwarder.log</value>
            </setting>
        </Forwarder.Properties.DemoConfig>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
