<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="tecgraf.openbus.interop.relloggedjoin.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <tecgraf.openbus.interop.relloggedjoin.Properties.DemoConfig>
            <setting name="busHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="openbusLogFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="busHostPort" serializeAs="String">
                <value>2089</value>
            </setting>
            <setting name="privateKey" serializeAs="String">
                <value>..\..\..\admin\InteropReloggedJoin.key</value>
            </setting>
            <setting name="useSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clientUser" serializeAs="String">
                <value>CurrentUser</value>
            </setting>
            <setting name="clientThumbprint" serializeAs="String">
                <value>ff822f9d6792b54dae9fefd227e8a838c9c518fe</value>
            </setting>
            <setting name="busIORFile" serializeAs="String">
                <value>C:\\Users\\Cadu\\Dropbox\\Tecgraf\\core210x\\BUS01.ior</value>
            </setting>
            <setting name="serverUser" serializeAs="String">
                <value>CurrentUser</value>
            </setting>
            <setting name="serverThumbprint" serializeAs="String">
                <value>ff822f9d6792b54dae9fefd227e8a838c9c518fe</value>
            </setting>
            <setting name="serverSSLPort" serializeAs="String">
                <value>58001</value>
            </setting>
            <setting name="serverOpenPort" serializeAs="String">
                <value>58000</value>
            </setting>
        </tecgraf.openbus.interop.relloggedjoin.Properties.DemoConfig>
    </userSettings>
</configuration>
