<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="services" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[SERVICES - %-5level] %date{MM/dd HH:mm:ss}%newline %message%newline" />
      </layout>
    </appender>

    <appender name="common" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[COMMOM - %-5level] %date{MM/dd HH:mm:ss}%newline %message%newline" />
      </layout>
    </appender>

    <appender name="lease" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[LEASE - %-5level] %date{MM/dd HH:mm:ss}%newline %message%newline" />
      </layout>
    </appender>

    <appender name="interceptors" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[INTERCEPTORS - %-5level] %date{MM/dd HH:mm:ss}%newline %message%newline" />
      </layout>
    </appender>

    <appender name="crypto" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[CRYPTO - %-5level] %date{MM/dd HH:mm:ss}%newline %message%newline" />
      </layout>
    </appender>

    <appender name="fault_tolerance" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[FAULT_TOLERANCE - %-5level] %date{MM/dd HH:mm:ss}%newline %message%newline" />
      </layout>
    </appender>

    <logger name="Openbus-Services">
      <level value="DEBUG" />
      <appender-ref ref="services" />
    </logger>

    <logger name="Openbus-Common">
      <level value="DEBUG" />
      <appender-ref ref="common" />
    </logger>

    <logger name="Openbus-Lease">
      <level value="DEBUG" />
      <appender-ref ref="lease" />
    </logger>

    <logger name="Openbus-Interceptors">
      <level value="DEBUG" />
      <appender-ref ref="interceptors" />
    </logger>

    <logger name="Openbus-Crypto">
      <level value="DEBUG" />
      <appender-ref ref="crypto" />
    </logger>

    <logger name="Openbus-Fault_Tolerance">
      <level value="DEBUG" />
      <appender-ref ref="fault_tolerance" />
    </logger>

  </log4net>

</configuration>