<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="fileAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[OpenBus - %-5level] %date{MM/dd HH:mm:ss} %logger %message%newline" />
      </layout>
    </appender>

    <logger name="tecgraf.openbus">
      <level value="INFO" />
      <appender-ref ref="fileAppender" />
    </logger>
    <logger name="tecgraf.openbus.Interceptors">
      <level value="WARN" />
      <appender-ref ref="fileAppender" />
    </logger>

  </log4net>
</configuration>