<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Server.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="acsCertificateFileName" serializeAs="String">
                <value>AccessControlService.crt</value>
            </setting>
            <setting name="entityName" serializeAs="String">
                <value>marosas</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="xmlPrivateKey" serializeAs="String">
                <value>marosas.key</value>
            </setting>
        </Server.Properties.DemoConfig>
    </userSettings>
</configuration>