<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="tecgraf.openbus.interop.chaining.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Server.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <tecgraf.openbus.interop.chaining.Properties.DemoConfig>
            <setting name="busHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="openbusLogFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="busHostPort" serializeAs="String">
                <value>2089</value>
            </setting>
            <setting name="privateKey" serializeAs="String">
                <value>..\..\..\admin\InteropChaining.key</value>
            </setting>
            <setting name="useSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clientUser" serializeAs="String">
                <value>CurrentUser</value>
            </setting>
            <setting name="clientThumbprint" serializeAs="String">
                <value>c14566a2f94e24d576a9a02d706d8358e2462322</value>
            </setting>
            <setting name="busIORFile" serializeAs="String">
                <value>C:\\Users\\Cadu\\Dropbox\\Tecgraf\\core210x\\BUS01.ior</value>
            </setting>
            <setting name="serverUser" serializeAs="String">
                <value>CurrentUser</value>
            </setting>
            <setting name="serverThumbprint" serializeAs="String">
                <value>256a1ce837292a3c80b4e82b36741316f63fe46a</value>
            </setting>
            <setting name="serverSSLPort" serializeAs="String">
                <value>58000</value>
            </setting>
        </tecgraf.openbus.interop.chaining.Properties.DemoConfig>
        <Server.Properties.DemoConfig>
            <setting name="busHostName" serializeAs="String">
                <value>bombas</value>
            </setting>
            <setting name="openbusLogFile" serializeAs="String">
                <value>..\..\..\..\..\Resources\Openbus.config</value>
            </setting>
            <setting name="busHostPort" serializeAs="String">
                <value>2089</value>
            </setting>
            <setting name="privateKey" serializeAs="String">
                <value>..\..\..\admin\InteropReloggedJoin.key</value>
            </setting>
        </Server.Properties.DemoConfig>
    </userSettings>
</configuration>
