<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tecgraf.openbus.interop.delegation.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Forwarder.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <tecgraf.openbus.interop.delegation.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="entity" serializeAs="String">
                <value>interop_delegation_csharp_forwarder</value>
            </setting>
            <setting name="privateKey" serializeAs="String">
                <value>InteropDelegation.key</value>
            </setting>
        </tecgraf.openbus.interop.delegation.Properties.DemoConfig>
        <Forwarder.Properties.DemoConfig>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="userLogin" serializeAs="String">
                <value>forwarder</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>forwarder</value>
            </setting>
        </Forwarder.Properties.DemoConfig>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
