<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.Properties.DemoConfig>
            <setting name="userLogin" serializeAs="String">
                <value>tester</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>tester</value>
            </setting>
            <setting name="hostName" serializeAs="String">
                <value>ubu</value>
            </setting>
            <setting name="hostPort" serializeAs="String">
                <value>3000</value>
            </setting>
        </Client.Properties.DemoConfig>
    </userSettings>
</configuration>