<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Server.Properties.DemoConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <userSettings>
    <Server.Properties.DemoConfig>
      <setting name="hostName" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="hostPort" serializeAs="String">
        <value>2089</value>
      </setting>
      <setting name="acsCertificateFileName" serializeAs="String">
        <value>AccessControlService.crt</value>
      </setting>
      <setting name="entityName" serializeAs="String">
        <value>TesteBarramento</value>
      </setting>
      <setting name="xmlPrivateKey" serializeAs="String">
        <value>TesteBarramento.key</value>
      </setting>
    </Server.Properties.DemoConfig>
  </userSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />     
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[OpenBus - %-5level] %date{MM/dd HH:mm:ss} %logger %message%newline" />
      </layout>
    </appender>

    <logger name="Tecgraf.Openbus">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
    <logger name="Tecgraf.Openbus.Interceptors">
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>
</configuration>